.Avaliation {
    margin: auto;   
    background: rgb(10, 4, 43);
    border-radius: 16px;
    padding:16px;
    transform: translate(0);
    margin: 8px;
    border: 0.1px solid rgba(255, 255, 255, 0.1);
    width: 365;
    min-height: 100px;
    max-width: 800px;
    transition: 200ms;
    cursor: pointer;
    box-shadow: 8px 8px 32px rgba(0, 0, 0, 0.1);
    &:hover {
        scale: 1.05;
        border: 0.2px solid rgb(146, 157, 255);
        background: rgb(10, 4, 43);
        box-shadow: 00px 16px 44px rgba(100, 95, 255, 0.1);
        p {
            color: white;
        }
    }
    h1 {
        font-size: 24px !important;
        font-weight: 300;
    }
    span {
        margin-bottom: 8px;
        flex-direction: row;
        display: flex;
    }
    p {
        color: var(--gray-000);
        text-align: start;
    }
    svg {
        margin: 0 !important;
        height: 24px;
        width: 24px;
    }
}