#saiba-mais {
    padding: 8px 16px;
    border-radius: 7px;
    border:none;
    margin: 0;
    color: white;
    background-color: var(--purple-200);
    font-size: 16px !important;
    width: fit-content;
    margin-top: 32px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    animation-name: none;
    animation-fill-mode: forwards;
    svg {
        height: 24px;
        width: 24px;
        margin: 0;
        stroke: white;
        fill: white;
    }
    &:hover {
        animation-name: Jump;
        animation-timing-function: ease-in-out;
        animation-duration: 0.4s;
    }
}
.button-card {
    padding: 12px 0; 
    margin-top: 32px;
    background-color: var(--purple-100);
    height: fit-content;
    width: 100%;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 16px;
    font-size: 16px;
    transition: 200ms;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    &:hover {
        background-color: #734d88;
    }
}