.card {
    width: 400px;
    height: fit-content;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center ;
    flex-direction: column;
    background-color: var(--purple-300);
    border-radius: 32px;
    padding: 24px;
    gap: 16px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
    border-top: 1px solid white;
    h1 {
        padding-top: 0;
        text-align: center;
        font-size: 48px;
    }
    ul {
        font-size: 24px;
        list-style:disc;
        width: 262px;
        li {
            line-height: 1;
            margin: 16px 0;
        }
    }
}
.unselected {
    color: var(--gray-000);
    text-decoration: line-through;
    font-style: italic;
}