.card {
    border: 0.1px solid rgba(255, 255, 255, 0.1);
    width: 400px;
    height: 625px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    background: #dbc1e8;
    background: linear-gradient(180deg, rgba(219, 193, 232, 1) 0%, rgba(139, 96, 162, 1) 14%, rgba(40, 33, 80, 1) 37%, rgba(35, 30, 65, 1) 100%);
    border-radius: 32px;
    padding: 8px;
    gap: 16px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
    border-bottom: 0;

    h1 {
        padding-top: 0;
        text-align: start;
        font-size: 32px;
        display: flex;
        align-items: end;
        gap: 8px;
    }
    p {
        color: var(--gray-000);
    }
    .h1-h2 {
        color: var(--gray-000);
        font-size: 24px;
        display: flex;
    }
    ul {
        font-size: 16px;
        list-style:none;
        width: 100%;
        padding: 16px;
        li {
            display: flex;
            align-items: center;
            gap: 8px;
            svg {
                height: 24px;
                width: 24px;
                background-color: rgba(0, 0, 0, 0.4);
                border-radius: 50%;
            }
            .x {
                display: flex;
                align-items: center;
                justify-content: center ;
                padding: 8px;
            }
            line-height: 1;
            margin: 16px 0;
        }
    }
    .card-header {
        background-color: rgba(0, 0, 0, 0.7);
        border: 0.1px solid rgba(255, 255, 255, 0.284);
        padding: 32px;
        border-radius: 24px;
    }
    
}
.unselected {
    color: var(--gray-000);
    text-decoration: line-through;
    font-style: italic;
}
.marked {
    margin: 16px 0;
    text-decoration: line-through;
    color: var(--gray-000);
    font-size: 24px !important;
    line-height: 0.4;
}
#basic {
    background: #d6d6d6;
    background: linear-gradient(180deg, rgb(220, 215, 215) 0%, rgba(136, 136, 136, 0.443) 14%, rgba(40, 33, 80, 1) 37%, rgba(35, 30, 65, 1) 100%);
    button {
        background-color: rgb(129, 113, 138) !important;
    }
}