.main-body {
    overflow: visible;
}
.prices {
    background: #231E41;
    background: linear-gradient(180deg, rgba(35, 30, 65, 1) 0%, rgb(2, 3, 16) 100%);
    height: fit-content;
    padding-bottom: 144px;
}
.h1-bold {
    font-size: 64px;
    color: white;
    text-align: center;
    font-weight: 700;
}
.h2-bold {
    font-size: 32px;
    font-weight: 400;
    color: white;
    text-align: center; 

}
.flex-aside {
    display: flex;
    margin: auto;
    width: fit-content;
    height: fit-content;
    gap: 64px;
    margin-top: 128px;
}
#fds {
    font-size: 18px !important;
    margin: 16px 0;
    font-weight: 300;
}
.family {
background: RGB(2, 3, 16);
background: linear-gradient(0deg, rgba(2, 3, 16, 1) 1%, rgba(2, 3, 16, 1) 100%, rgba(0, 0, 0, 1) 50%);
        padding-bottom: 256px;
    .h2-bold {
        font-weight: 300;
        font-size: 24px;
    }
    .attenpt {
        max-width: 600px;
        margin: auto;
        border: 0.1px solid rgba(255, 255, 255, 0.1);
        padding: 24px;
        font-size: 16px;
        font-weight: 300;
        color: white;
        padding: 32px;
        border-radius: 24px;
        margin-top: 32px;
        background-color: rgba(0, 0, 0, 0.1);

    }
}
.main-body {
    overflow-x: hidden;
}