.main-body {
    overflow: visible;
}
.prices {
    background-color: var(--purple-300);
    height: fit-content;
    padding-bottom: 124px;
}
.h1-bold {
    font-size: 64px;
    color: white;
    text-align: center;
    font-weight: 700;
}
.h2-bold {
    font-size: 32px;
    font-weight: 400;
    color: white;
    text-align: center; 

}
.flex-aside {
    display: flex;
    margin: auto;
    width: fit-content;
    height: fit-content;
    gap: 64px;
    margin-top: 128px;
}
#fds {
    font-size: 24px;
    margin: 16px 0;
    font-weight: 300;
}
.family {
    background-color: var(--purple-300);
        padding-bottom: 256px;
    .h2-bold {
        font-weight: 300;
        font-size: 24px;
    }
    .attenpt {
        max-width: 600px;
        margin: auto;
        border: 0.1px solid rgba(255, 255, 255, 0.1);
        padding: 24px;
        font-size: 16px;
        font-weight: 300;
        color: white;
        padding: 32px;
        border-radius: 24px;
        margin-top: 32px;
        background-color: rgba(0, 0, 0, 0.1);

    }
}
.main-body {
    overflow-x: hidden;
}