* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#h2-rights {
  font-size:  16px;
  color: var(--gray-000);
  font-weight: 400;
  text-align: center;
  padding: 24px;
  background-color: var(--purple-300);
}

@media (max-width:1440px) {
  .titles {
    transform: translateY(88px);
  }
}
@media (max-width:1337px) {
  #coinPC {
    height: 512px !important;
    width: 512px !important;
    margin: 0;
    transform: translateY(152px) !important;
  }
  .titles {
    transform: translateY(256px);
  }
  .Wave-svg {
    transform: translateY(224px);
  }
  .light4,  .light3 {
    display: none;
  }

}
@media (max-width:888px) {
  .titles {
    transform: translateY(168px);
    h1 {
      font-size: 52px !important;
    }
  }
  #about-hermes-h2 {
    font-size: 24px !important;
  }
  #coinPC {
    transform: translateY(124px) !important;
  }
  .flex-aside {
    flex-wrap: wrap;
    width: fit-content;
    justify-content: center;
  }

  .Wave-svg {
    transform: translateY(152px);
  }
  .section-2 {
    h1 {
      font-size: 44px !important;
      line-height: 1.1;
      margin-bottom: 24px;
    }
  }
  .h1-bold {
    font-size: 44px !important;
  }
  .h2-bold {
    font-size: 24px !important;
  }   
}
@media (max-width:632px) {
  .family {
    padding: 8px;
  }
  .prices {
    padding: 8px;
  }
   .titles {
    h1 {
      font-size: 2rem !important;
    }
   }
   #about-hermes-h2 {
    margin-bottom: 0px;
   }
   #coinPC {
    width: 300px !important;
    height: 300px !important;
    transform: translateY(72px) !important;
   }
   .h1-bold {
    line-height: 1;
    margin-bottom: 24px;
   }
   .Counter {
    h1 {
      margin-right: 8px !important;
      font-size: 24px !important;
    }
    div {
      margin: 0 !important;
      height: 24px !important;
      width: 24px !important;
    }
   }
   .section-2 {
    h1:first-child {
      margin-bottom: 24px !important;
    }
    h2 {
      margin: 32px;
      font-size: 24px !important;
    }
   }
   .card {
    width: 365px !important;
      li {
        font-size: 16px;
      }
   }
   footer { 
    li {
      font-size: 16px;
    }
   }
}
.main-body {
  overflow-x: hidden !important;
}
.Wave-svg {
  transform: translateY(8px);
}
.prices {
  overflow-x: hidden !important;
}